<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Meu Projeto Flask</h1>
    <p class="paragrafo1">Este é o primeiro parágrafo.</p>
    <p class="paragrafo2">Este é o segundo parágrafo.</p>
    <p class="paragrafo3">Este é o terceiro parágrafo.</p>
    <button class="btn">Clique Aqui</button>
</body>
</html>
